.fpcont{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom left, #a8edea, #fed6e3);
}
.fpcont form{
  width: 300px;
  height: 320px;
  background-color: white;
  padding: 0 25px;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fpcont form h2{
  text-align: center;
  color:blue ;
  font-size: 24px;
  margin-top: 20px;
}
.fpcont form label{
  display: flex;
  align-items: center;
  margin-top: 40px;
  font-size: 16px;
}
.envelope-wrapper{
  position: relative
}
.fa-envelope{
  position: absolute;
  top: 74%;
  transform: translateY(-35%);
  color: brown;
  z-index: 888;
}
.fpcont form input{
  border:none;
  outline: none;
  border-bottom: 2px solid silver;
  border-radius: 2px;
  font-size: medium;
  margin-top: 10px;
  width: 100%;
  padding: 0 20px;
}
.fp-btn{
  border: none;
  background-color:rgb(13, 13, 122) ;
  color: white;
  padding: 5px 0;
  margin: 20px 25px 0 25px;
  border-radius: 100px;
  position: absolute;
  left: 23%;
  width: 100px;
}
.fp-btn:hover{
  cursor: pointer;
  background-color:blue ;
}
.fpcont form input.error-state {
  border-bottom-color: tomato;
}
#loading{
  background-color:rgb(13, 13, 122) ;
  color: gray;
}