.repass{
  display:flex;
  height:100vh;
  justify-content:center;
  align-items:center;
  background: linear-gradient(to bottom left, #a8edea, #fed6e3);
}
.repass-wrapper{
  margin-top: 50px;
}
.repass form{
  width: 320px;
  height: 420px;
  background-color: white;
  padding: 15px 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.repass form h2{
  color: blue;
  font-size: 27px;
  text-align: center;
  position: relative;
}
.repass-center{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.repass input{
  border:none;
  outline: none;
  border-bottom: 2px solid silver;
  border-radius: 2px;
  font-size: medium;
  padding-top: 5px;
  padding-left: 20px;
}
.repass input.error-state{
  border-bottom-color: tomato;
}
.repass-btn{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.repass-btn button{
  background-color:rgb(13, 13, 122) ;
  color: white;
  border-radius: 20px;
  padding: 7px 35px;
  border: none;
  outline: none;
}
.repass-btn button:hover{
  background-color:blue ;
}
.error{
  margin: 5px;
}
.lock-icon{
  position: relative;
}
.lock{
  position: absolute;
  top: 18px;
}