/* Feedback Form Container */

.feedback-cont{
    display:flex;
    height:100vh;
    justify-content:center;
    align-items:center;
    background: linear-gradient(to bottom left, #a8edea, #fed6e3);
}

.feedback-form {
    width: 340px;
    height: auto;
    background-color: white;
    padding: 10px 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

/* Form Heading */
.feedback-form h2 {
    text-align: center;
    font-size: 22px;
    color: blue;
    font-weight: bold;
    margin-top: 10px;
}

/* Labels */
.feedback-form label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

/* Input Fields */
.feedback-form input,
.feedback-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Submit Button */
.feedback-form button {
    cursor: pointer;
    border: none;
    background-color:rgb(13, 13, 122) ;
    color: white;
    padding: 7px 35px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    transition: background 0.3s ease;
}

.feedback-form button:hover {
    background-color: blue;
}

.feedback-pollicy{
    font-size: 12px;
    text-align: justify;
    margin-top: 12px;
    color: gray;
    font-style: italic;
}

.star-mark{
    color: red;
    font-size: 20px;   
}


/* Responsive Design */
@media (max-width: 425px) {
    .feedback-cont{
        background: aliceblue;
    }

    .feedback-form input {
       width: 100%;
    }
    .xbutton{
        margin: 0;
    }
}


