.role1{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background:linear-gradient(to bottom left, #a8edea, #fed6e3);
}
.role1 form{
  background-color: white;
  width: 300px;
  height: 340px;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title{
  font-size: 28px;
  color: blueviolet ;
}
.role1 form h3{
  text-align: center;
  padding: 10px 0 5px 0;
}
.role1 form input{
  margin: 30px 80px 0;
}
.role1 form label{
margin-left: -60px;
}

.role1 form button{
  padding: 10px 30px;
  margin: 40px 100px;
  border-radius: 20px;
  background-color:rgb(13, 13, 122) ;
  color: white;
  outline: none;
  border: none;
}
.role1 form button:hover{
  cursor: pointer;
  background-color:blue 
}
.roleerror{
  margin-top: 20px;
  text-align: center;
  color: red;
  margin-bottom: -15px;
}