.session{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 160vh;
    background: linear-gradient(to bottom left, #a8edea, #fed6e3);

}
.session form{
    height: 780px;
    width: 450px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 40px;
    position: relative;

}
.session form h2{
    text-align: center;
    color: blue;
}

.session form label{
    display: block;
    padding: 10px 0;
}

.session form select, textarea{
    width: 100%;
}

.session form input{
    border: none;
    outline: white;
    border-bottom: 2px solid silver;
    border-radius: 2px;
    width: 100%;
}
.session-update-btn{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.session-update-btn button{
    width: 60%;
    border: none;
    background-color:rgb(13, 13, 122) ;
    color: white;
    padding: 5px 0;
    margin-top: 15px;
    border-radius: 100px;
}

.session-update-btn button:hover{
    cursor: pointer;
    background-color:blue ;
}


@media(max-width:425px){
    .session{
        background: lightblue;
        height: 111vh;
    }
    .session form{
        height: 800px;
    }
       .session button{
        width: 80%;
        padding: 8px;
       }
}